
.card1 {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.card1 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(26, 36, 56);
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: 1rem;
}

.card1-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.rounded-3 {
  border-radius: 0.5rem!important;
}
.mb-2 {
  margin-bottom: 0.5rem!important;
}
.me-4 {
  margin-right: 1.5rem!important;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  table-layout:fixed;
}

td, th {
  text-align: center;
  font-size: x-large;

}
